@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}body{line-height:1;color:#000;background:#fff}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0;vertical-align:middle}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}a img{border:none}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{font-family:'Dosis','Tahoma',sans-serif}.container{margin:15px auto;width:80%}h1{margin:40px 0 20px;font-weight:700;font-size:38px;line-height:32px;color:#fb565e}h2{font-size:18px;padding:0 0 21px 5px;margin:45px 0 0 0;text-transform:uppercase;font-weight:500}.small{font-size:14px;color:#a5adb4;}.glyphs.character-mapping{margin:0 0 20px 0;padding:20px 0 20px 30px;color:rgba(0,0,0,0.5);border:1px solid #d8e0e5;border-radius:3px;}.glyphs.character-mapping li{margin:0 30px 20px 0;display:inline-block;width:90px}.glyphs.character-mapping .icon{margin:10px 0 10px 15px;padding:15px;position:relative;width:55px;height:55px;color:#162a36 !important;overflow:hidden;border-radius:3px;font-size:32px;}.glyphs.character-mapping .icon svg{fill:#000}.glyphs.character-mapping input{margin:0;padding:5px 0;line-height:12px;font-size:12px;display:block;width:100%;border:1px solid #d8e0e5;border-radius:5px;text-align:center;outline:0;}.glyphs.character-mapping input:focus{border:1px solid #fbde4a;-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}.glyphs.character-mapping input:hover{-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}.glyphs.css-mapping{margin:0 0 60px 0;padding:30px 0 20px 30px;color:rgba(0,0,0,0.5);border:1px solid #d8e0e5;border-radius:3px;}.glyphs.css-mapping li{margin:0 30px 20px 0;padding:0;display:inline-block;overflow:hidden}.glyphs.css-mapping .icon{margin:0;margin-right:10px;padding:13px;height:50px;width:50px;color:#162a36 !important;overflow:hidden;float:left;font-size:24px}.glyphs.css-mapping input{margin:0;margin-top:5px;padding:8px;line-height:16px;font-size:16px;display:block;width:150px;height:40px;border:1px solid #d8e0e5;border-radius:5px;background:#fff;outline:0;float:right;}.glyphs.css-mapping input:focus{border:1px solid #fbde4a;-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}.glyphs.css-mapping input:hover{-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
/*
@font-face {
  font-family: "shopperposv20";
  src:url("https://shopperposqa.s3-us-west-2.amazonaws.com/0000/resources/fonts/shopperposv20.eot");
  src:url("fonts/shopperposv20.eot?#iefix") format("embedded-opentype"),
    url("https://shopperposqa.s3-us-west-2.amazonaws.com/0000/resources/fonts/shopperposv20.woff") format("woff"),
    url("https://shopperposqa.s3-us-west-2.amazonaws.com/0000/resources/fonts/shopperposv20.ttf") format("truetype"),
    url("https://shopperposqa.s3-us-west-2.amazonaws.com/0000/resources/fonts/shopperposv20.svg") format("svg");
  font-weight: normal;
  font-style: normal;

}
*/
@font-face {
  font-family: "shopperposv20";
  src:url("fonts/shopperposv20.eot");
  src:url("fonts/shopperposv20.eot?#iefix") format("embedded-opentype"),
    url("fonts/shopperposv20.woff") format("woff"),
    url("fonts/shopperposv20.ttf") format("truetype"),
    url("fonts/shopperposv20.svg#shopperposv20") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "shopperposv20" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="iconpos-"]:before,
[class*=" iconpos-"]:before {
  font-family: "shopperposv20" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconpos-abasto:before {
  content: "\61";
}
.iconpos-zapateriasalt:before {
  content: "\62";
}
.iconpos-accesorios:before {
  content: "\63";
}
.iconpos-acciones:before {
  content: "\64";
}
.iconpos-admin:before {
  content: "\65";
}
.iconpos-ajuste:before {
  content: "\66";
}
.iconpos-arqueocaja:before {
  content: "\67";
}
.iconpos-arrow:before {
  content: "\68";
}
.iconpos-auth:before {
  content: "\69";
}
.iconpos-banco:before {
  content: "\6a";
}
.iconpos-buscar:before {
  content: "\6b";
}
.iconpos-cajondedinero:before {
  content: "\6c";
}
.iconpos-cajondedinero-1:before {
  content: "\6d";
}
.iconpos-calendar:before {
  content: "\6e";
}
.iconpos-cierredecaja:before {
  content: "\6f";
}
.iconpos-cliente:before {
  content: "\70";
}
.iconpos-cloud:before {
  content: "\71";
}
.iconpos-colecciones:before {
  content: "\72";
}
.iconpos-compraproveedor:before {
  content: "\73";
}
.iconpos-comunicacion:before {
  content: "\74";
}
.iconpos-config:before {
  content: "\75";
}
.iconpos-conteo:before {
  content: "\76";
}
.iconpos-cosmeticos:before {
  content: "\77";
}
.iconpos-decoracion:before {
  content: "\78";
}
.iconpos-deportes:before {
  content: "\79";
}
.iconpos-descargar:before {
  content: "\7a";
}
.iconpos-dispositivo:before {
  content: "\41";
}
.iconpos-edit:before {
  content: "\42";
}
.iconpos-efectivo:before {
  content: "\43";
}
.iconpos-eliminar:before {
  content: "\44";
}
.iconpos-encuestacliente:before {
  content: "\45";
}
.iconpos-encuestas:before {
  content: "\46";
}
.iconpos-encuestavendedor:before {
  content: "\47";
}
.iconpos-entrada:before {
  content: "\48";
}
.iconpos-factuacion:before {
  content: "\49";
}
.iconpos-filtros:before {
  content: "\4a";
}
.iconpos-fiscal:before {
  content: "\4b";
}
.iconpos-galeria:before {
  content: "\4c";
}
.iconpos-home:before {
  content: "\4d";
}
.iconpos-imprimircotizacion:before {
  content: "\4e";
}
.iconpos-impuestos:before {
  content: "\4f";
}
.iconpos-inventario:before {
  content: "\50";
}
.iconpos-itemsticket:before {
  content: "\51";
}
.iconpos-joyeria:before {
  content: "\52";
}
.iconpos-kioscos:before {
  content: "\53";
}
.iconpos-lentes:before {
  content: "\54";
}
.iconpos-librerias:before {
  content: "\55";
}
.iconpos-lineablanca:before {
  content: "\56";
}
.iconpos-mascotas:before {
  content: "\57";
}
.iconpos-mensajes:before {
  content: "\58";
}
.iconpos-metodopago:before {
  content: "\59";
}
.iconpos-monedero:before {
  content: "\5a";
}
.iconpos-moreinfo:before {
  content: "\30";
}
.iconpos-mueblerias:before {
  content: "\31";
}
.iconpos-ordenar:before {
  content: "\32";
}
.iconpos-pdf:before {
  content: "\33";
}
.iconpos-pedido:before {
  content: "\34";
}
.iconpos-pinpadnotready:before {
  content: "\35";
}
.iconpos-pinpadready:before {
  content: "\36";
}
.iconpos-plus:before {
  content: "\37";
}
.iconpos-print:before {
  content: "\38";
}
.iconpos-producto:before {
  content: "\39";
}
.iconpos-productovariante:before {
  content: "\21";
}
.iconpos-promociones:before {
  content: "\22";
}
.iconpos-proveedores:before {
  content: "\23";
}
.iconpos-record:before {
  content: "\24";
}
.iconpos-recuperarticket:before {
  content: "\25";
}
.iconpos-reenviarticket:before {
  content: "\26";
}
.iconpos-referenciado:before {
  content: "\27";
}
.iconpos-refresh:before {
  content: "\28";
}
.iconpos-reimprimirticket:before {
  content: "\29";
}
.iconpos-reportes:before {
  content: "\2a";
}
.iconpos-reposteria:before {
  content: "\2b";
}
.iconpos-ropa:before {
  content: "\2c";
}
.iconpos-saldopedidos:before {
  content: "\2d";
}
.iconpos-salida:before {
  content: "\2e";
}
.iconpos-salidaporconcepto:before {
  content: "\2f";
}
.iconpos-salir:before {
  content: "\3a";
}
.iconpos-scan:before {
  content: "\3b";
}
.iconpos-secure:before {
  content: "\3c";
}
.iconpos-sellerticket:before {
  content: "\3d";
}
.iconpos-soporte:before {
  content: "\3e";
}
.iconpos-storepay:before {
  content: "\3f";
}
.iconpos-sucursales:before {
  content: "\40";
}
.iconpos-tarjeta:before {
  content: "\5b";
}
.iconpos-tecnologia:before {
  content: "\5d";
}
.iconpos-cambio:before {
  content: "\5e";
}
.iconpos-devolucion:before {
  content: "\5f";
}
.iconpos-guardarticket:before {
  content: "\60";
}
.iconpos-menu:before {
  content: "\7b";
}
.iconpos-productodiferencia:before {
  content: "\7c";
}
.iconpos-saldo:before {
  content: "\7d";
}
.iconpos-terminal:before {
  content: "\7e";
}
.iconpos-ticket:before {
  content: "\5c";
}
.iconpos-transfer:before {
  content: "\e000";
}
.iconpos-transferencia:before {
  content: "\e001";
}
.iconpos-university:before {
  content: "\e002";
}
.iconpos-upload:before {
  content: "\e003";
}
.iconpos-user:before {
  content: "\e004";
}
.iconpos-vendedor:before {
  content: "\e005";
}
.iconpos-vendedores:before {
  content: "\e006";
}
.iconpos-videotutorial:before {
  content: "\e007";
}
.iconpos-zapaterias:before {
  content: "\e008";
}
.iconpos-ferreteria:before {
  content: "\e009";
}
.iconpos-floreria:before {
  content: "\e00a";
}
.iconpos-regalos:before {
  content: "\e00b";
}
.iconpos-servicios:before {
  content: "\e00c";
}
.iconpos-textil:before {
  content: "\e00d";
}
.iconpos-notes:before {
  content: "\e00e";
}
.iconpos-equal:before {
  content: "\e00f";
}
.iconpos-error:before {
  content: "\e010";
}
.iconpos-artesanias:before {
  content: "\e011";
}
.iconpos-gourmet:before {
  content: "\e012";
}
.iconpos-good:before {
  content: "\e013";
}
.iconpos-clonar:before {
  content: "\e014";
}
.iconpos-itemstickst:before {
  content: "\e015";
}
.iconpos-notas:before {
  content: "\e016";
}
.iconpos-services:before {
  content: "\e017";
}
.iconpos-interface:before {
  content: "\e018";
}
.iconpos-tech:before {
  content: "\e019";
}
